<%- include('./storeHeader',{user})%>
<h2 class="display-6" style="color:grey">Workers</h2>


<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">UserName</th>
      <th scope="col">Role</th>
      <th scope="col" colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <%workers.forEach(function (worker){%>
    <tr>
      <td><%= worker.userName %></td>
      <td>
        <%if((worker.role.name) == 'store-manager'){%>
        <%= 'Manager' %>
        <%}%> 

        <%if((worker.role.name) == 'store-owner'){%>
        <%= 'Owner' %>
        <%}%> 
      </td>

      <%if( (worker.role.appointor).equals(user.role.id) && !(worker.role.name === "store-owner") ){%>
      <td><button id="r<%=worker.userName%>" class="btn btn-danger" type="button" title="Remove Role"
          onclick="removeRole(this.id)"> <i class="fas fa-user-slash" aria-hidden="true"> </i></button></td>
      <%}else{ %>
      <td><button class="btn btn-outline-secondary" type="button" title="No Available Actions">
          <i class=" far fa-window-minimize"></i></button></td>
      <% } %>


      <%if((worker.role.appointor).equals(user.role.id) && ('store-manager' == worker.role.name)){%>
      <td><a href="/store-panel/<%=storeId%>/workers/updatePermissions/<%=worker.role.ofUser%>"
          id="e<%=worker.userName%>" class="btn btn-info" role="button" title="Update Permissions"> <i
            class="fas fa-user-edit"></i></a></td>

      <%}else{ %>
      <td><button class="btn btn-outline-secondary" type="button" title="No Available Actions">
          <i class=" far fa-window-minimize"></i></button></td>
      <% } %>%>

    </tr>
    <%})%>
  </tbody>
</table>
<%if(user.role.name === "store-owner"){%>
<div class="input-group">
  <input type="text" id="userName" class="form-control" placeholder="Enter username" width="18">
  <div class="input-group-append">
    <!-- <button class="btn btn-outline-secondary" type="button" onclick="onSubmitSetOwner(event)">Set As Owner</button> -->
    <button class="btn btn-outline-secondary" type="button" onclick="onSubmitSetManager(event)">Set As Manager </button>
    <%if(user.role.name === "store-owner"){%>
    <button class="btn btn-outline-secondary" type="button" onclick="onSubmitSugggestNewOwner(event)">Suggest New Owner</button>
    <%}%>
  </div>
  </ul>
</div>
<p style="text-align: center; color: red" id="workers-error"></p>


<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Pending Owner</th>
        <th scope="col">Actions</th>
        <th scope="col">Status</th>
        <th scope="col">Suggested By</th>


      </tr>
    </thead>


    <tbody>
      <%pendingOwners.forEach(function (pendingOwner){%>
      <%if('Approved' != pendingOwner.status){%>
      <tr>
        <td><%=pendingOwner.toBeOwner%></td>

        <td>
          <button id="a<%=pendingOwner.toBeOwner%>" class="btn btn-outline-secondary"
            onclick="approveOwnerToBe(event, this.id)" type="button" title="Approve"><i class=" far fa-thumbs-up">
            </i></button>
          <%if( (pendingOwner.suggestingOwner) !== (user.userName) ){%>
          <button id="p<%=pendingOwner.toBeOwner%>" class="btn btn-outline-secondary"
            onclick="voteNuetralOwnerToBe(event, this.id)" type="button" title="No Decision Yet"><i
              class=" far fa-circle"></i></button>
          <button id="d<%=pendingOwner.toBeOwner%>" class="btn btn-outline-secondary"
            onclick="declineOwnerToBe(event, this.id)" type="button" title="Decline"><i
              class=" fas fa-thumbs-down"></i></button>
          <% } %>%>

        </td>

        <td><%= pendingOwner.status%></td>
        <td><%= pendingOwner.suggestingOwner%></td>
      </tr>
      <%}%>
            <%})%>
    </tbody>
  </table>


</div>
<%}%>
</div>
</main>
</div>

<script>
  function removeRole(rUserName) {
    const userName = rUserName.slice(1);
    postData('/usersApi/removeRole', {
      userNameRemove: userName,
      storeId: "<%= storeId %>"
    }).then(res => {
      if (res.status < 0) {
        $('#workers-error').text(res.err);
      }
      else {
        document.location.href = '/store-panel/<%=storeId%>/workers';
      }
    });
  }
</script>


<script>
  function onSubmitSetOwner(event) {
    event.preventDefault();
    var userName = $("#userName").val();
    postData(`/usersApi/setUserAsStoreOwner`, {
      appointedUserName: userName,
      storeId: "<%= storeId %>"
    })
      .then(data => {
        if (data.status < 0) {
          $("#workers-error").text(data.err);
        }
        else {
          document.location.href = '/store-panel/<%=storeId%>/workers';
        }
      })
      .catch(error => console.error(error));
  };
</script>


<script>
  function onSubmitSetManager(event) {
    event.preventDefault();
    var userName = $("#userName").val();
    postData(`/usersApi/setUserAsStoreManager`, {
      appointedUserName: userName,
      storeId: "<%= storeId %>",
    })
      .then(data => {
        if (data.status < 0) {
          $("#workers-error").text(data.err);
        }
        else {
          document.location.href = '/store-panel/<%=storeId%>/workers';
        }
      })
      .catch(error => console.error(error));
  };
</script>

<script>
  function onSubmitSugggestNewOwner(event) {
    event.preventDefault();

    postData(`/usersApi/suggestToBeOwner`, {
      toBeOwnerName: $("#userName").val(),
      storeId: "<%= storeId %>",
      suggestingOwnerName: "<%= user.userName %>"
    })
      .then(data => {

        if (data.status < 0) {
          $("#workers-error").text(data.err);
        }
        else {
          document.location.href = '/store-panel/<%=storeId%>/workers';
        }
      })
      .catch(error => console.error(error));
  };
</script>


<script>
  function declineOwnerToBe(event, dOwnerToBe) {
    event.preventDefault();
    const userName = dOwnerToBe.slice(1);

    postData(`/usersApi/declineOwnerToBe`, {
      toBeOwnerName: userName,
      storeId: "<%= storeId %>",
      votingOwnerName: "<%= user.userName %>"
    })
      .then(data => {

        if (data.status < 0) {
          $("#workers-error").text(data.err);
        }
        else {
          document.location.href = '/store-panel/<%=storeId%>/workers';
        }
      })
      .catch(error => console.error(error));
  };
</script>

<script>
  function voteNuetralOwnerToBe(event, pOwnerToBe) {
    event.preventDefault();
    const userName = pOwnerToBe.slice(1);

    postData(`/usersApi/voteNuetralOwnerToBe`, {
      toBeOwnerName: userName,
      storeId: "<%= storeId %>",
      votingOwnerName: "<%= user.userName %>"
    })
      .then(data => {

        if (data.status < 0) {
          $("#workers-error").text(data.err);
        }
        else {
          document.location.href = '/store-panel/<%=storeId%>/workers';
        }
      })
      .catch(error => console.error(error));
  };
</script>

<script>
  function approveOwnerToBe(event, aOwnerToBe) {
    event.preventDefault();
    const userName = aOwnerToBe.slice(1);

    postData(`/usersApi/approveOwnerToBe`, {
      toBeOwnerName: userName,
      storeId: "<%= storeId %>",
      votingOwnerName: "<%= user.userName %>"
    })
      .then(data => {

        if (data.status < 0) {
          $("#workers-error").text(data.err);
        }
        else {
          document.location.href = '/store-panel/<%=storeId%>/workers';
        }
      })
      .catch(error => console.error(error));
  };
</script>



<%- include ../../partials/pageWithSideFooter %>