 <%- include('./storeHeader',{user})%>
  <h2 class="display-6" style="color:grey">Workers</h2>

        <table class="table">  
          <tbody>
                <%workers.forEach(function (worker){%>
                <tr>
                <td><%= worker.userName %></td>
                <td><%= worker.role.name %></td>
                  <%if((worker.role.appointor).equals(user.role.id)){%>
                <td><button id="r<%=worker.userName%>" class="btn btn-warning" type="button" onclick="removeRole(this.id)"><span>ᐅ</span> Remove Role </button></td>
                <%};%> 
              </tr>
            <%})%>
            </tbody>
          </table>



          <div class="card">  
            <div class="card-header">New Role</div>
                <div class="card-body">
                    <form name="register-form"">
                        <div class="form-group row">
                            <label for="user_name" class="col-md-4 col-form-label text-md-right">UserName</label>
                            <div class="col-md-6">
                                <input type="text" id="userName" class="form-control" name="username">
                            </div>
                        </div>

                        <div class="col-md-6 offset-md-4">
                            <button type="submit" class="btn btn-primary" onclick="onSubmitSetOwner(event)">Set as Owner</button>
                            <p id="new-owner-error"> </p>
                        </div>
                        <div class="col-md-6 offset-md-4">
                          <button type="submit" class="btn btn-primary" onclick="onSubmitSetManager(event)">Set as Manager</button>
                          <p id="new-manager-error"> </p>
                      </div>
                    </div>
                </form>
            </div>




    <p id="workers-error"></p>
  </ul>
</div>




    </div>

    </main>
</div>  

<script>

function removeRole(rUserName){

    const userName = rUserName.slice(1);
    postData('/usersApi/removeRole',{
        userNameRemove: userName,
        storeId: "<%= storeId %>"
    }).then(res =>{
        if(res.status < 0){
            alert('Error');
            $('#workers-error').text(res.err);
        }
        else{
            document.location.href = '/store-panel/<%=storeId%>/workers';
        }   
    });
}

</script>


<script>
  function onSubmitSetOwner(event){
    event.preventDefault();
    var userName = $("#userName").val();
    postData(`/usersApi/setUserAsStoreOwner`, {
      appointedUserName: userName, 
      storeId: "<%= storeId %>"
      })
    .then(data => {
        if(data.status < 0){
          $("#new-owner-error").text(data.err);
          alert(data.status, data.err );
        }
        else{
          document.location.href = '/store-panel/<%=storeId%>/workers'; 
        }
          
    }) 
    .catch(error => console.error(error));
  };
  </script>

<script>
  function onSubmitSetManager(event){
    event.preventDefault();
    var userName = $("#userName").val();
    postData(`/usersApi/setUserAsStoreManager`, {
      appointedUserName: userName, 
      storeId: "<%= storeId %>",
      })
    .then(data => {
        if(data.status < 0){
          $("#new-manager-error").text(data.err);
          alert(data.status, data.err );
        }
        else{
          document.location.href = '/store-panel/<%=storeId%>/workers'; 
        }
          
    }) 
    .catch(error => console.error(error));
  };
  </script>




<%- include ../../partials/pageWithSideFooter %>