<%- include('../partials/header',{user}) %>
<main>
    <div class="jumbotron" style="min-height:600px; margin-bottom:0;">
    <%carts.forEach((cart)=>{%>
        <div class="container" id="<%=cart.id%>" >
   <div class="card shopping-cart">
            <div class="card-header bg-dark text-light">
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                Shipping cart
                <div class="clearfix"></div>
            </div>
            <div class="card-body">
                    <!-- PRODUCT -->
                    <%cart.items.forEach((item)=>{%>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-2 text-center">
                                <img class="img-responsive" src="<%=item.product.imageUrl%>" alt="prewiew" width="120" height="80">
                        </div>
                        <div class="col-12 text-sm-center col-sm-12 text-md-left col-md-6">
                            <h4 class="product-name"><strong><%=item.product.name%>&nbsp;&nbsp;&nbsp;&nbsp;</strong><span id="d<%=cart.id%>--<%=item.product.id%>" class="badge badge-pill badge-danger hide">Deleted</span></h4>
                        </div>
                        <div class="col-12 col-sm-12 text-sm-center col-md-4 text-md-right row">
                            <div class="col-3 col-sm-3 col-md-6 text-md-right" style="padding-top: 5px">
                                <h6><strong><%=item.product.price%><span class="text-muted">x</span></strong></h6>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div class="quantity">
                                    <input type="button" id="+<%=cart.id%>--<%=item.product.id%>" value="+" class="plus" onclick="onClickPlus(this.id)">
                                    <input type="number" id="n<%=cart.id%>--<%=item.product.id%>" step="1" max="99" min="1" value="<%=item.amount%>" title="Qty" class="qty"
                                           size="4" >
                                    <input type="button" id="-<%=cart.id%>--<%=item.product.id%>" value="-" class="minus" onclick="onClickMinus(this.id)" >
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 col-md-2 text-right">
                                <button  type="button" id="db<%=cart.id%>--<%=item.product.id%>" class="btn btn-outline-danger btn-xs" onclick="onClickRemove(this.id)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <% });%>
                    <!-- END PRODUCT -->
                <div class="pull-right" style="float:right">
                    <a href="" id="u<%=cart.id%>" class="btn btn-outline-secondary pull-right" onclick="updateCart(this.id)">
                        Update shopping cart
                    </a>
                    <p id="error-<%=cart.id%>"></p>
                </div>
            </div>
            <div class="card-footer" >
                <div class="pull-right" style="margin: 10px ; display:flex ; justify-content:flex-end" >
                     <div class="pull-right" style="margin: 5px">
                         <b>Check Purchase Rules and get Total Price</b>
                    </div>
                    <button type="button" onclick="validateCartRules('<%= cart.id%>')" class="btn btn-info pull-right">Check</button>
                </div>
                <div id="validate-rules-label" class="pull-right" style="margin: 5px; display: none">
                    Cart doesnt pass the Store Purchase Rules, please visit store page and update your cart.
                </div>
            </div>
           <div id="continue-checkout-label" style="display: none" class="card-footer" >
               <div class="pull-right" style="margin: 10px ; display:flex ; justify-content:flex-end" >
                   <div class="pull-right" style="margin: 5px">
                       Total price: <b><%=cart.totalPrice%>$</b>
                   </div>
                   <a href="/order/<%= cart.id%>" class="btn btn-success pull-right">Checkout</a>

               </div>
           </div>
        </div>   
    </div>  
<%})%>
    </div>
</main>
<footer>
    <%# include ../partials/footer %>
</footer>

<script>

    function validateCartRules(cartId){
        postData('/usersApi/validateCartRules',{cartId:cartId})
            .then(response => {
            console.log(response);
        if(response.status===0){
            if(response.isPassedRules){
                document.getElementById("continue-checkout-label").style.display = 'block';
            }
            else{
                document.getElementById("validate-rules-label").style.display = 'block';
            }
        }
        else if(response.status < 0)
            $(`#error-${id}`).text(response.err);
    })
    }

    function onClickPlus(plusId){
        const id = plusId.slice(1);
        $('#n'+id).val(parseInt($('#n'+id).val())+1);
    }

    function onClickMinus(minusId){
        const id = minusId.slice(1);
        if(parseInt($('#n'+id).val())>1)
            $('#n'+id).val(parseInt($('#n'+id).val())-1);
    }

    function onClickRemove(removeId){
        const id = removeId.slice(2);
        $("#d"+id).toggleClass('show');
    }

    function updateCart(buttonId){
        event.preventDefault();
        const id = buttonId.slice(1);
        const inputs = $(`#${id} input[type="number"]`);
        const length = inputs.length;
        const items = [];
        for(let i = 0 ; i < length ; i++){
            const cartProduct = inputs[i].id.slice(1);
            if($(`#d${cartProduct}`).hasClass('show'))
                continue;
            const productId = cartProduct.split('--')[1];
            const productAmount = inputs[i].value;
            items.push({product: productId, amount: productAmount});
        }
        postData('/usersApi/updateCart',{cartDetails:{id,items}})
        .then(response => {
            console.log(response);
            if(response.status===0){
                document.location.href = '/carts';
            }
            else if(response.status < 0)
                $(`#error-${id}`).text(response.err);
        })

    }

</script>
<style>

.quantity {
    float: left;
    margin-right: 15px;
    background-color: #eee;
    position: relative;
    width: 80px;
    overflow: hidden
}

.quantity input {
    margin: 0;
    text-align: center;
    width: 15px;
    height: 15px;
    padding: 0;
    float: right;
    color: #000;
    font-size: 20px;
    border: 0;
    outline: 0;
    background-color: #F6F6F6
}

.quantity input.qty {
    position: relative;
    border: 0;
    width: 100%;
    height: 40px;
    padding: 10px 25px 10px 10px;
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    border-radius: 0;
    background-clip: padding-box
}

.quantity .minus, .quantity .plus {
    line-height: 0;
    background-clip: padding-box;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-background-size: 6px 30px;
    -moz-background-size: 6px 30px;
    color: #bbb;
    font-size: 20px;
    position: absolute;
    height: 50%;
    border: 0;
    right: 0;
    padding: 0;
    width: 25px;
    z-index: 3
}

.quantity .minus:hover, .quantity .plus:hover {
    background-color: #dad8da
}

.quantity .minus {
    bottom: 0
}
.shopping-cart {
    margin-top: 20px;
}
.hide {
    display:none
}
.show {
    display:inline                       
}

</style>
</body>
</html>